version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "2000:2000"

  backend:
    build: ./backend
    ports:
      - "3601:3601"

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
